{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <!-- <center><h1>{{ user.username }} welcome to your profile page</h1></center> -->
    <div class="mt-4">
        <img src="{{ user.user_img.url }}" width = "150" height = "150"  />
        <h3>{{ user.username }}</h3>
        <a class="btn btn-secondary" href="{% url 'profile_edit' %}">
            Edit
            </a>
        <div class="row my-3 p-3">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{ user.first_name |capfirst }} {{ user.last_name }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>{{ user.age }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    {% endif %}
{% endblock %}