{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="mt-4">
      <div class="row">
        <div class="col-6">
          {% if user.user_img %}
            <img src="{{ user.user_img.url }}" width = "150" height = "150"  />
            <h3>{{ user.username }}</h3>
          {% else %}
              <h3>{{ user.username }}</h3>
          {% endif %}
        </div>
        <div class="col-6 text-center ">
          <a class="btn btn-secondary" href="{% url 'profile_edit' %}">
            Edit
        </a>
        </div>
      </div> 


        <div class="row my-3 p-3">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{ user.first_name |capfirst }} {{ user.last_name }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>{{ user.age }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    {% endif %}
{% endblock %}