{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post mt-4">
            <time class="date">
                {{ post.published_date }}
            </time>
            <p>Created by - {{post.author}}</p>
            <h2><a href="{% url 'post_detail' slug=post.slug %}"><img src="{{ post.thumbnail_img.url}}" alt="{{ post.title }}" style="border-radius: 50%; height: 50px;width: 50px;">{{ post.title }}</a></h2>
            <p> {{post.category}} </p>  
            <p>{{ post.text|linebreaksbr }}</p>

        </article>
    {% endfor %}
{% endblock %}